<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container">
        <div class="row">
            <!-- 회사 정보 -->
            <div class="col-md-4 mb-3">
                <h5>Thread SNS</h5>
                <p class="text-muted">소통과 공유의 새로운 경험</p>
                <p class="small">© 2025 Thread SNS. All rights reserved.</p>
            </div>
            
            <!-- 링크 -->
            <div class="col-md-4 mb-3">
                <h5>링크</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-white-50">이용약관</a></li>
                    <li><a href="#" class="text-decoration-none text-white-50">개인정보처리방침</a></li>
                    <li><a href="#" class="text-decoration-none text-white-50">고객센터</a></li>
                    <li><a href="#" class="text-decoration-none text-white-50">FAQ</a></li>
                </ul>
            </div>
            
            <!-- 소셜 미디어 -->
            <div class="col-md-4">
                <h5>소셜 미디어</h5>
                <div class="d-flex gap-3 fs-4">
                    <a href="#" class="text-decoration-none text-white-50"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-decoration-none text-white-50"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-decoration-none text-white-50"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-decoration-none text-white-50"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>